<html>
<head>
    <meta charset="UTF-8">
    <title>Restaurant Catalogue</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style>
        .container {
            width: 95%;
            border-radius: 0;
        !important;
        }

        .jumbotron {
            border-radius: 0;
        !important;
            background-color: #eff2f3
        }

        h1 {
            color: #237f52 !important;
        }

        .btn-default {
            border-radius: 0;
            background-color: #08538c;
            color: #fff;
        }

        .btn-danger {
            border-radius: 0;
            background-color: #ea4335;
            color: #fff;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1> Restaurant Catalogue </h1>
        <a href="/login" class="btn btn-default">Login</a>
        <a href="/signup" class="btn btn-default">Signup</a>
        <br><h4>OR</h4>
        <a href="/auth/google" class="btn btn-danger">Login via Google</a>
    </div>
</div>

</body>

</html>

