<div ng-controller="MainController">


  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 test">
        <form ng-submit="nameSearchAuto()">
          <div angucomplete-alt id="ex1"
               ng-model="searchQuery"
               placeholder="Search by name"
               maxlength="50"
               pause="100"
               selected-object="searchQuery"
               local-data="restaurantNames"
               search-fields="name"
               title-field="name"
               minlength="1",
               override-suggestions="true"
               input-class="form-control form-control-small"
               match-class="highlight"></div>
          <button type="submit">Search Name(Auto)</button>
        </form>

        <form ng-submit="nameSearch()">
          <input ng-model="searchQuery"/>
          <button type="submit">Search Name</button>
        </form>

        <form ng-submit="facetedSearch()">
          <input ng-model="facetQuery"/>
          <button type="submit">Faceted Search</button>
        </form>

        <form ng-submit="gradeSearch()">
          <input ng-model="gt"/>
          <input ng-model="lt"/>
          <button type="submit">Grade Search</button>
        </form>

        <form ng-submit="geoSearch()">
          <input ng-model="lat"/>
          <input ng-model="lon"/>
          <button type="submit">Location Search</button>
        </form>

        <form ng-submit="getLocation()">
          <button type="submit">Get Nearby</button>
        </form>

        <div ng-if="facetFlag == 1">
          <h2>Boroughs</h2>
          <div ng-repeat="(key, value) in boroughs">
            <label><input type="checkbox" ng-model="checkboxModel[key]"
                          ng-true-value="'YES'"
                          ng-false-value="'NO'"
                          ng-change="showHideResults('boroughs', key)">
              {{key}} ({{value.count}})</label>
          </div>
          <hr>
          <h2>Cuisines</h2>
          <div ng-repeat="(key, value) in cuisines">
            <label><input type="checkbox" ng-model="checkboxModel[key]"
                          ng-true-value="'YES'"
                          ng-false-value="'NO'"
                          ng-change="showHideResults('cuisines', key)">
              {{key}} ({{value.count}})</label>
          </div>
        </div>
      </div>


      <div class="col-sm-9" ng-repeat="restaurant in searchResults.hits">
        <h4>{{restaurant._source.name}}</h4>
        <p>{{restaurant._source.address.building}}, {{restaurant._source.address.street}}</p>
      </div>

      <div class="col-sm-9" ng-repeat="restaurant in facetResults">
        <h4>{{restaurant._source.name}}</h4>
        <p>{{restaurant._source.address.building}}, {{restaurant._source.address.street}}</p>
      </div>

      <div class="col-sm-9" ng-repeat="restaurant in gradeResults.hits">
        <h4>{{restaurant._source.name}}</h4>
        <p>{{restaurant._source.address.building}}, {{restaurant._source.address.street}}</p>
        <p>{{restaurant.fields.avgScore[0]}}</p>
      </div>

      Total restaurants nearby : {{geoResults.total}}
      <div class="col-sm-9" ng-repeat="restaurant in geoResults.hits">
        <h4>{{restaurant._source.name}}</h4>
        <p>{{restaurant._source.address.building}}, {{restaurant._source.address.street}}</p>
      </div>

    </div>
  </div>
</div>

<style>
  .test {
    height: 100%;
  }
</style>


